<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Invincible Ghost</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      html {
        background-color: #dfe
      }
      body {
        max-width: 960px;
        margin: 0 auto;
        font-family: monospace;
        font-size: x-large;
        border-left: 1px dashed olive;
        border-right: 1px dashed olive;
        height: 100vh;
        padding: 1em;
        background-color:white;
        box-sizing: border-box;
      }
      h1 {
        margin-top: 0;
      }
      footer {
        bottom: 0;
        padding: 1em;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>
        <img src="/Invincible%20Ghost" alt="Invincible Ghost" />
      </h1>
    </header>

    <main>
      <h2>Let Invincible Ghost generate barcodes for you.</h2>
      <ul>
        <li>
          Go to <a href="/Shatner's%20Bassoon">https://invincible-ghost.glitch.me/{BARCODE_VALUE}</a> and receive your free PNG!
        </li>
        <li>
          Add <a href="/subliminal?text=false">?text=false</a> to remove the text!
        </li>
        <li>
          Add <a href="/thrift%20tunnel?padding=false">?padding=false</a> to remove the padding!
        </li>
        <li>
          Or <a href="/why-not-both?text=false&padding=false">use both together</a> for compact barcode fun!
        </li>
      </ul>
    </main>

    <footer>
      Made in October 2018 by Reference Point Computers using <a href="https://github.com/lindell/JsBarcode">JsBarcode</a> and <a href="https://glitch.com">Glitch</a>
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
